.sub-header {
  font-size: 24px;
  font-weight: 600;
  line-height: 39.89px;
  color: #333;
}

.profile-avatar {
  width: 73px;
  height: 73px;
  border-radius: 50%;
}

.profile-form {
  font-size: 16px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 1600px;
  width: 900px;
  vertical-align: top;
}

.text-input {
  font-size: 16px;
  color: #333;
  padding: 1px 12px;
  width: calc(100% - 1px);
  border: 1px solid #ccc;
  flex-grow: 1;
  border-radius: 4px;
}

.text-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.text-label {
  outline: none;
  padding: 8px 12px;
  font-weight: bold;
  width: 150px;
  min-width: 150px;
}

.toggle-switch-label {
  outline: none;
  font-size: 16px;
  width: 900px;
  padding: 2px 2px;
}

.strong-text {
  outline: none;
  font-size: 16px;
  padding: 2px 2px;
  font-weight: bold;
}

.text-link {
  outline: none;
  font-size: 16px;
  padding: 8px 12px;
  font-weight: bold;
  margin: auto;
}

.data-label {
  outline: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 8px 22px;
  font-family: "Mukta", sans-serif;
  line-height: 26.59px;
  color: #4d4d4d;
  background-color: #e6fdfe;
}

.input-icons img {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 5px;
  padding-left: 2px;
}

input[type="file"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.icon {
  padding: 8px;
  padding-left: 15px;
  margin-top: 3px;
  min-width: 30px;
  text-align: center;
}

.password-button-visibility-icon {
  position: relative;
  padding: 8px;
  padding-right: 15px;
  top: 24px;
  right: 40px;
  margin-right: auto;
  display: flex;
  min-width: 30px;
  text-align: center;
}

.toggle-switch {
  padding: 8px;
  padding-left: 15px;
  width: 30px;
  text-align: center;
}

.input-icon-label {
  padding-left: 35px;
  padding-right: 0;
  width: 5%;
  height: 38px;
  font-weight: 540;
}

.input-icon-field {
  width: 35%;
}

.scrollable-items-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navbar {
  background: red;
}
