@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary{
  @apply bg-green-three cursor-pointer tracking-wider text-white rounded-[10px] p-[10px] pe-[40px] ps-[40px] font-semibold mt-0 overflow-hidden shadow-md leading-tight focus:outline-none relative hover:shadow-inner transform hover:scale-125 hover:bg-opacity-80 transition ease-out duration-300;
}

.badge{
  @apply bg-red-600 text-white text-xs font-bold rounded-full p-2 absolute;
}

.card{
  @apply rounded overflow-hidden shadow-md relative;
}

.general-text-input{
  @apply text-customBlack-two px-[12px] py-[5px] w-full border-2 border-gray-300 focus:border-green-three hover:border-green-three rounded-[5px] p-5 text-[16px] my-2 relative outline-none transform hover:translate-y-1 hover:bg-opacity-80 transition ease-out duration-300;
}