.accordion-item {
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

.accordion-item:not(:first-of-type) {
  border-top: 0;
}

.accordion-item-title {
  width: 100%;
  margin: 0;
}

.accordion-item-btn {
  display: flex;
  width: 100%;
  background-color: #fff;
  border: 0;
  padding: 5.5px 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

button .icon {
  display: inline-block;
}

.accordion-item-btn::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  left: -34px;
  padding-left: 2px;
  width: 38px;
  height: 38px;
  background-image: url('./../../assets//images//settings//plus.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-size: 24px;
  position: relative;
  vertical-align: middle;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.accordion-item.active .accordion-item-btn::before {
  background-image: url('./../../assets//images//settings//minus.svg');
  position: relative;
  background-size: cover;
  background-position: left;
  width: 24px;
  height: 24px;
  left: -34px;
}

.accordion-item-container {
  transition: height 0.2s ease-in-out;
  overflow: hidden;
}

.accordion-item-content {
  border-top: 1px solid #ccc;
  padding: 15px 20px;
  color: #4d4d4d;
  background-color: #e6fdfe;
}
