.program-title {
  position: absolute;
  height: 33px;
  left: 109px;
  top: 12px;
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: #333;
}

.small-text {
  position: absolute;
  height: 20px;
  left: 142px;
  top: 40px;
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #808080;
}

.program-icon {
  position: absolute;
  left: 30.78px;
  top: 11.39px;
  height: 49.22px;
  width: 47.43px;
}

.program-border {
  box-sizing: border-box;
  width: 810px;
  position: relative;
  height: 71px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  order: 3;
}

.calender-icon {
  position: absolute;
  height: 16.67px;
  width: 16.67px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.calender-button {
  position: relative;
  height: 16.67px;
  width: 16.67px;
  left: 109.67px;
  top: 41.67px;
}

.timer-button {
  position: relative;
  height: 16.67px;
  width: 16.67px;
  left: 256.5px;
  top: 41.67px;
}

.archives-items-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: scroll;
  height: calc(100vh - 0);
}

.dropdown-icon {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.dropdown-button {
  position: relative;
  height: 20px;
  width: 20px;
  right: 49.67px;
  top: 26px;
}

.navigation-button {
  position: relative;
  height: 20px;
  width: 20px;
  right: 0;
  top: -5px;
  margin: 2px;
}

.m_icon {
  position: absolute;
  padding: 20px;
  padding-left: 15px;
  min-width: 30px;
  text-align: center;
}

.input-icon-label {
  padding-left: 45px;
}

.search-box-div {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 5px 10px;
  gap: 14px;
  position: absolute;
  width: 550px;
  height: 57px;
  left: 780px;
  top: 107px;
}
