.header-title {
  position: relative;
  width: 145px;
  height: 40px;
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 30px;
  top: 110px;
}

.header-sub-title {
  position: relative;
  width: 140px;
  height: 54px;
  margin-left: auto;
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #fff;
  left: 30px;
  top: 115px;
  word-wrap: break-word;
}

.recieved-message-block {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  float: right;
  line-height: 24px;
  margin: 15px 30px;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 15px;
  padding-bottom: -30px;
  gap: 8px;
  max-width: 319px;
  background: #058b94;
  border-radius: 10px 0 10px 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.received-message-text {
  max-width: 289px;
  font-family: "Mukta", sans-serif;
  line-height: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  flex: none;
}

.send-message-text {
  max-width: 270px;
  font-family: "Mukta", sans-serif;
  line-height: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #0d082c;
  flex: none;
}

.recieved-time {
  position: relative;
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(13, 8, 44, 0.4);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.send-time {
  position: relative;
  margin-top: 10px;
  margin-right: auto;
  right: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  display: block;
  align-self: flex-end;
  font-size: 14px;
  line-height: 18px;
  color: rgba(44, 8, 8, 0.4);
}

.chat-icon-image {
  position: absolute;
  margin-top: -30px;
  margin-left: -80px;
  height: 60px;
  width: 60px;
}

.send-message-block {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  float: left;
  line-height: 24px;
  margin: 15px 30px;
  margin-left: 70px;
  margin-top: 30px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 15px;
  padding-bottom: -30px;
  max-width: 270px;
  background: #f1f7ff;
  border-radius: 0 10px 10px 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.chat-person-name {
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #0d082c;
  position: absolute;
  margin-top: -35px;
  margin-left: -10px;
  height: 60px;
  width: 60px;
}

.items-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: scroll;
  height: calc(85vh - 300px);
}
